@keyframes shake {
  0% { transform: translateX(0); }
  15% { transform: translateX(-3px); }
  30% { transform: translateX(3px); }
  45% { transform: translateX(-3px); }
  60% { transform: translateX(3px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}
.reddit-mono-fontreddit {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: Power;
  src: url("../fonts/PowerGroteskTrial-Medium.woff");
  }

@font-face {
  font-family: Place-regular;
  src: url("../fonts/Place-Regular-Trial.otf");
}

@font-face {
  font-family: Place-bold-extra;
  src: url("../fonts/Place-BoldExtra-Trial.otf");
}
@font-face {
  font-family: Place-regular-extra;
  src: url("../fonts/Place-RegularExtra-Trial.otf");
}
@font-face {
  font-family: Place-light-extra;
  src: url("../fonts/Place-LightExtra-Trial.otf");
}
@font-face {
  font-family: RedditMono-Bold;
  src: url("../fonts/RedditMono-Bold.ttf");
}
@font-face {
  font-family: RedditMono-Medium;
  src: url("../fonts/RedditMono-Medium.ttf");
}
@font-face {
  font-family: RedditMono-Regular;
  src: url("../fonts/RedditMono-Regular.ttf");
}
@font-face {
  font-family: RedditMono-SemiBold;
  src: url("../fonts/RedditMono-SemiBold.ttf");
}
@font-face {
  font-family: WorkSans-Medium;
  src: url("../fonts/WorkSans-Medium.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

h1{
  font-family: Place-bold-extra;
  color: #000;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 6px 7px 0 #D0121B;
  text-transform: uppercase;
  margin-top: 35px;
  margin-left: 16px;
  margin-bottom: 100px;
}

h3 {
font-family: RedditMono-Bold;
margin-left: 60px;
font-size: 30px;
}
.news-description {
  font-family: RedditMono-Regular;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 60px;
}
.date-description {
  font-family: RedditMono-Regular;
  font-size: 14px;
  margin-bottom: 30px;
  margin-left: 450px;
  margin-top: 40px;
}

img,
video {
  display: block;
  max-width: 100%;;
}

body {
  background-color: #A8A8A8;
}

header {
  background: #000;
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
}

.logo {
  position: absolute;
  left: 40px;
  display: flex;
  align-items: center;
}

.line-vertical {
  overflow: hidden;
  position: absolute;
  top: 100;
  left: 40px;
  width: 1px;
  height: 430%;
  background-color: #D0121B;
}
.line-horizontal {
  position: absolute;
  overflow: hidden;
  top: 1650px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #D0121B;
}

.logo img {
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 93px;
  margin-top: 65;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-family: Power;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.2s ease;
}

nav a:hover,
nav a.active {
  color: #D0121B;
}

.account-icon {
  color: #D0121B;
  position: absolute;
  right: 40px;
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.account-icon img {
  height: 25px; 
}

.news-container {
  display: flex;
  gap: 20px;
}

.news-carousel {
  width: 900px;
  height: 725px;             
  position: absolute;
  top: 80px;                      
  right: 0;
  margin-top: 20;
  margin-left: auto;
  max-width: 50%;
  max-height: 50%;
}

.carousel-controls {
  position: relative;      /* NOT absolute */
  margin-top: -6px;        /* space under image */
  display: flex;
  justify-content: flex-end;
  gap: 400px;
  width: 100%;
}

.carousel-arrow {
  background: none;
  border: none;
  font-family: RedditMono-Regular, sans-serif;
  font-size: 25px;
  cursor: pointer;
}

.carousel-arrow:focus {
    outline: 2px solid #D0121B;
    outline-offset: 4px;
}

.newsletter {
    width: 400px;
    padding: 25px;
    background: black;
    color: white;
    position: relative;
    margin-top: 310px;
    margin-left: 60px;
}

.newsletter h2 {
    font-family: RedditMono-Medium;
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}

.newsletter p {
    font-family: RedditMono-Medium;
    margin: 10px 0 20px;
    font-size: 14px;
    opacity: 0.9;
}

.newsletter-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.newsletter-form {
    display: flex;
    gap: 10px;
}

.newsletter-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #222222;
    background: #222222;
    color: white;
    font-size: 14px;
    font-family: RedditMono-SemiBold;
}

.newsletter-form input::placeholder {
    color: #777;
}

.newsletter-form button {
    background: #D0121B;;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

.submit-btn img {
    width: 16px;   
    height: 16px;
    object-fit: contain;
}

.artist-bar {
    overflow: hidden;
    left: 0;
    width: 100%;
    margin-top: 170px;
    background: #D0121B;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    padding: 0 20px;
    margin-bottom: 471px;
}

.artist-bar .artist-text {
    display: flex;
    gap: 79px;                 
    white-space: nowrap;
    font-family: WorkSans-Medium;
    font-size: 55px;
    color: #000;                
    text-transform: uppercase;
    line-height: 1;
}

.artists-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.artists-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 37px;
  width: min(1800px, 100%);
  padding: 0 40px;
}

.artist-card:hover p {
  color: #D0121B;
  text-shadow:
    1px 1px 0 #525252,
    2px 2px 0 #525252,
    3px 3px 0 #525252;
}
.artist-card:hover img {
  filter: brightness(0.75);
}

.artist-card {
  aspect-ratio: 1 / 1;
  background: #000;
  position: relative;
}

.artist-card img {
  filter: brightness(0.5);
}

.artist-card p {
  position: absolute;
  inset: 0;                 /* fills the card */
  display: flex;
  align-items: center;      /* vertical center */
  justify-content: center;  /* horizontal center */
  color: white;
  font-size: 17px;
  font-family: Place-regular;
  text-align: center;
  transition: color 0.2s ease, text-shadow 0.2s ease;
}

.ocean-bar {
    overflow: hidden;
    left: 0;
    width: 100%;
    margin-top: 170px;
    background: #D0121B;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    padding: 0 20px;
}

.ocean-bar .ocean-text {
    display: flex;
    gap: 79px;                 
    white-space: nowrap;
    font-family: WorkSans-Medium;
    font-size: 55px;
    color: #000;                
    text-transform: uppercase;
    line-height: 1;
}

footer {
  background-color: rgb(0, 0, 0); 
  position: relative;
  overflow: hidden;
  /* margin-top: 4953px; */
}

.footer-nav {
  display: flex;
  padding: 20px 40px;   
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.footer-nav a {
  color: white;
  text-decoration: none;
  margin-top: 1px;
  font-size: 12px;
  font-weight: 500;
  font-family: "Reddit Mono", monospace;
}
.DO img {
  display: block;
}
.DO:hover img {
  animation: shake 0.25s infinite;
}

@media (max-width: 1200px) {	
  h1 {
    margin-top: 60px;
		font-size: 78px;
  }
  .artists-grid {
    grid-template-columns: repeat(3, 421px);
  }
}  

@media (max-width: 900px) {
  h1 {
		font-size: 40px;
    text-shadow: 4px 5px 0 #D0121B;
	} 
  h3 {
    font-family: RedditMono-Bold;
    margin-left: 60px;
    font-size: 18px;
}
.news-description {
  font-family: RedditMono-Regular;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 60px;
}
.date-description {
  font-family: RedditMono-Regular;
  font-size: 10px;
  margin-bottom: 30px;
  margin-left: 276px;
  margin-top: 25px;
}
  .logo img {
    height: 40px;
  }
  .carousel-arrow {
    font-size: 20px;
    padding: 4px 8px;
  }
.carousel-controls {
  position: relative;      /* NOT absolute */
  margin-top: -6px;        /* space under image */
  display: flex;
  justify-content: flex-end;
  gap: 400px;
  width: 100%;
}
  .artists-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .artist-card p {
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .artists-grid {
    grid-template-columns: repeat(3, 421px);
  }
}