.reddit-mono-fontreddit {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: Power;
  src: url("../fonts/PowerGroteskTrial-Medium.woff");
  }

@font-face {
  font-family: Place-regular;
  src: url("../fonts/Place-Regular-Trial.otf");
}

@font-face {
  font-family: Place-bold-extra;
  src: url("../fonts/Place-BoldExtra-Trial.otf");
}
@font-face {
  font-family: Place-regular-extra;
  src: url("../fonts/Place-RegularExtra-Trial.otf");
}
@font-face {
  font-family: Place-light-extra;
  src: url("../fonts/Place-LightExtra-Trial.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

h1{
  font-family: Place-bold-extra;
  color: #000;
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 6px 7px 0 #D0121B;
  text-transform: uppercase;
  margin-top: 35px;
}

img,
video {
  display: block;
  max-width: 100%;;
}

body {
  background-color: #A8A8A8;
}

header {
  background: #000;
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
}

.logo {
  position: absolute;
  left: 40px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 93px;
  margin-top: 65;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-family: Power;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.2s ease;
}

nav a:hover,
nav a.active {
  color: #D0121B;
}

.account-icon {
  color: #D0121B;
  position: absolute;
  right: 40px;
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.account-icon img {
  height: 25px; 
}

.big-placeholder {
  width: 995px;
  height: 775px;
  background: #000;              
  position: absolute;
  top: 80px;                      
  right: 0;
  margin-top: 20;
  margin-left: auto;
  max-width: 50%;
  max-height: 50%;
}

footer {
  background-color: rgb(0, 0, 0); 
  position: relative;
  margin-top: 4953px;
}

.footer-nav {
  display: flex;
  gap: 616px;
  padding: 20px 40px;   
  justify-content: center;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  margin-top: 23px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Reddit Mono", monospace;
}
.h3-O {
  margin-left: 618px;
  margin-right: 160px;
}
.DO {
  width: 700px;       
  height: 700px;     
}

.DO h3 {
  font-size: 700px;
  line-height: 1;
  position: absolute; 
  padding-top: 100px;
  top: 0;
  left: 0;
  font-family: Place-light-extra;
  text-transform: uppercase;
  max-width: 100%;
  color: #D0121B;
  text-shadow: 50px 42px 0 #fff;
}