@font-face {
  font-family: Power;
  src: url("../fonts/PowerGroteskTrial-Medium.woff");
  }

@font-face {
  font-family: Place-regular;
  src: url("../fonts/Place-Regular-Trial.otf");
}

@font-face {
  font-family: Place-bold-extra;
  src: url("../fonts/Place-BoldExtra-Trial.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

h1{
  font-family: Place-bold-extra;
  color: #000;
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 6px 7px 0 #D0121B;
}

img,
video {
  display: block;
}

body {
  background-color: #A8A8A8;
}

header {
  background: #000;
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
}

.logo {
  position: absolute;
  left: 40px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 93px;
  margin-top: 65;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-family: Power;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.2s ease;
}

nav a:hover,
nav a.active {
  color: #D0121B;
}

.account-icon {
  color: #D0121B;
  position: absolute;
  right: 40px;
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.account-icon img {
  height: 25px; 
}

.big-placeholder {
  width: 995px;
  height: 775px;
  background: #222;              
  position: absolute;
  top: 80px;                      
  right: 0;
  margin: 0;
}